.hidden {
    opacity: 0;
    -webkit-transition: opacity 0.15s;
}

.interactive-list-text {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.interactive-list-text h5 {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.interactive-list-text:hover {
    margin-left: 3rem;
    background: linear-gradient(90deg, rgba(11, 125, 255, 0.25), rgba(11, 125, 255, 0.1), rgba(0,0,0,0));
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.interactive-list-text:hover h5 {
    margin-left: 2rem;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}