/* ANIMATIONS */
@keyframes image-floating-effect {
    0%  {transform: translatey(0%);}
    50% {transform: translatey(-6%);}
    100%  {transform: translatey(0%);}
}


/* STANDARD CSS */
#img-yoel-cover-face {
    height: 60vh;
    position: fixed; /*if there's any trouble: swap to 'relative' */
    animation: image-floating-effect 5s ease-in-out infinite;
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 238, 255, 0.35));}

#img-yoel-cover-face:hover {
    content: url('../img/yoel-cover-face.png');
    filter: hue-rotate(180deg); /*we leave this here in case shadow glow doesnt work*/
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 132, 255, 0.2));

}