/* ANIMATIONS */
@keyframes image-floating-effect {
    0%  {transform: translatey(0%);}
    50% {transform: translatey(-6%);}
    100%  {transform: translatey(0%);}
}
@keyframes image-floating-softer-effect {
    0%  {transform: translatey(0%);}
    50% {transform: translatey(-4%);}
    100%  {transform: translatey(0%);}
}
@keyframes floating-opacity-effect {
    0%  {opacity: 0.3;}
    50% {opacity: 0.6;}
    100% {opacity: 0.3;}
}
@keyframes floating-opacity-low-effect {
    0%  {opacity: 0.75;}
    50% {opacity: 1;}
    100% {opacity: 0.75;}
}
@keyframes shinny-icon-anim {
    0%, 100%  {
        opacity: 0.8;
        filter: drop-shadow(0px 0px 10px rgb(255, 251, 0)) drop-shadow(0px 0px 10px rgba(255, 251, 0, 0.3));
    }
    50% {
        opacity: 1;
        filter: drop-shadow(0px 0px 15px rgb(255, 251, 0)) drop-shadow(0px 0px 20px rgba(255, 251, 0, 0.3));
    }
}
@keyframes floating-image {
    50%  {
        transform: translate(0, -1.5rem);
        filter: drop-shadow(1rem 2.2rem 5px rgba(0, 150, 205, .75));
    }
    0%, 100% {
        transform: translate(0, 0);
        filter: drop-shadow(.5rem .7rem 5px rgba(0, 200, 255, 1));
    }
}

/* STANDARD CSS */
#img-yoel-cover-face {
    height: 40vh;
    position: fixed; /*if there's any trouble: swap to 'relative' */
    animation: image-floating-effect 8s ease-in-out infinite;
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 238, 255, 0.35));
}
#img-yoel-cover-face:hover {
    content: url('../img/yoel-cover-face.png');
    filter: hue-rotate(180deg); /*we leave this here in case shadow glow doesnt work*/
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 132, 255, 0.2));

}

#img-yoel-talking-face {
    position: relative;
    filter: drop-shadow(4px 2px 3px rgba(0, 119, 255, 0.664));
}

#img-joel-title-cover {
    height: 40vh;
    position: fixed; /*if there's any trouble: swap to 'relative' */
    animation: image-floating-softer-effect 6s ease-in-out infinite;
}
#img-joel-title-cover:hover {
    content: url('../img/joel-title-blue-glow-maxsize.png');
    filter: hue-rotate(180deg); /*we leave this here in case shadow glow doesnt work*/
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 183, 255, 0.404));
}

.img-item-list-active {
    height: 30px;
}

#img-yoel-profile-working {
    position: fixed;
    backface-visibility: hidden;
    /*filter: drop-shadow(4px -2px 0px rgb(79, 199, 255));*/
}
#div-profile-img-card {
    transform-style: preserve-3d;
    transform: perspective(100vh);
}

.profile-value-next, .profile-value-prev {
    animation: floating-opacity-effect 2s ease-in-out infinite;
}
.profile-value-next:hover, .profile-value-prev:hover {
    animation: floating-opacity-low-effect 2s ease-in-out infinite;
    transform: scale(1.15);
}
.profile-value-prev:hover {
    transform: scale(-1.15);
}

.shinny-icon {
    opacity: 0.8;
    animation: shinny-icon-anim 1.5s ease-in-out infinite;
}
.shinny-icon:hover {
    opacity: 1;
    animation: none;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 255, 255, 0.85));
}