.nopadding {
    padding: 0;
}
.padding1 {
    padding: 1rem;
}
.padding2 {
    padding: 2rem;
}
.padding3 {
    padding: 2rem;
}
.paddingtop1 {
    padding-top: 1rem;
}
.paddingtop2 {
    padding-top: 1rem;
}
.paddingtop3 {
    padding-top: 1rem;
}
.paddingleft1 {
    padding-left: 1rem;
}
.paddingleft2 {
    padding-left: 2rem;
}
.paddingleft3 {
    padding-left: 3rem;
}



.nomargin {
    margin: 0;
}
.margin0 {
    margin: 0.5rem;
}
.margin1 {
    margin: 1rem;
}
.margin2 {
    margin: 2rem;
}
.margin3 {
    margin: 3rem;
}
.margintop1 {
    margin-top: 1rem;
}
.margintop2 {
    margin-top: 2rem;
}
.margintop3 {
    margin-top: 3rem;
}
.marginbottom1 {
    margin-bottom: 1rem;
}
.marginbottom2 {
    margin-bottom: 2rem;
}
.marginbottom3 {
    margin-bottom: 3rem;
}
.marginleft1 {
    margin-left: 1rem;
}
.marginleft2 {
    margin-left: 2rem;
}
.marginleft3 {
    margin-left: 3rem;
}
.marginleft4 {
    margin-left: 4rem;
}
.marginleft5 {
    margin-left: 5rem;
}
.marginright1 {
    margin-right: 1rem;
}
.marginrightç2 {
    margin-right: 2rem;
}
.marginright3 {
    margin-right: 3rem;
}
.marginright4 {
    margin-right: 4rem;
}
.marginright5 {
    margin-right: 5rem;
}