/* ANIMATIONS */
@keyframes bodyBackgroundColor {
    0% {background-image: linear-gradient( black, rgb(0, 0, 29));}
    50% {background-image: linear-gradient( black, rgb(0, 0, 75));}
    100% {background-image: linear-gradient( black, rgb(0, 0, 29));}
}


/* STANDARD CSS */
body {
    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    /*background: linear-gradient(black, rgb(0, 0, 75));*/
	/*animation: bodyBackgroundColor 10s ease infinite;*/
}


/* Main Navbar - - - - - - - - - - - - - - - - - - - - - - - - - */
#mainNavbar {
    background-color: black;
    padding: 0 10% 0 10%;
    height: 3rem;
}
#mainNavbar .mainNavbarItem {
    margin: auto 1.5rem auto 1.5rem;
}
.mainNavbarItem a {
    text-decoration: none;
    color: rgb(150,150,150);
}
.mainNavbarItem a:hover {
    color: white;
}

/* Main Cover Menu - - - - - - - - - - - - - - - - - - - - - - - - - */
#img-yoel-cover-face {
    left: 65%;
    top: 16vh;
}
#img-joel-title-cover {
    left: 10%;
}

#div-welcome-titles {
    margin: 2rem 2rem 2rem 6rem;
}
#div-welcome-titles h1, h2 {
    color: rgb(197, 197, 197);
    padding: 4rem 1rem 0 4rem;
}
#div-welcome-titles h1:hover, h2:hover{
    color: white;
}
#div-welcome-titles h3, h4 {
    color: rgb(174, 206, 255);
    padding-left: 6rem;
    padding-bottom: 1rem;
}
#div-welcome-titles h3:hover, h4:hover {
    color: rgb(238, 245, 255);
}