/* ANIMATIONS */
@keyframes bodyBackgroundColor {
    0% {background-image: linear-gradient( black, rgb(0, 0, 29));}
    50% {background-image: linear-gradient( black, rgb(0, 0, 75));}
    100% {background-image: linear-gradient( black, rgb(0, 0, 29));}
}


/* STANDARD CSS */
body {
    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    /*background: linear-gradient(black, rgb(0, 0, 75));*/
	/*animation: bodyBackgroundColor 10s ease infinite;*/
}


/* Main Navbar - - - - - - - - - - - - - - - - - - - - - - - - - */
#mainNavbar {
    background-color: black;
    padding: 0 10% 0 10%;
    height: 3rem;
}
#mainNavbar .mainNavbarItem {
    margin: auto 1.5rem auto 1.5rem;
}
.mainNavbarItem a {
    text-decoration: none;
    color: rgb(150,150,150);
}
.mainNavbarItem a:hover {
    color: white;
    cursor: pointer;
}

.textAreaHelper {
    padding-left: 1rem;
    padding-right: 1rem;

    resize: none;
    overflow: hidden;
    border: inset 2px rgb(58, 255, 229);
    background-color: rgb(16, 16, 59);
    color: white;
}

/* Main Cover Menu - - - - - - - - - - - - - - - - - - - - - - - - - */
#img-yoel-cover-face {
    right: 65%;
    top: 13vh;
}
#img-joel-title-cover {
    top: 50vh;
    right: 55%;
}

#div-welcome-titles {
    margin-left: 40%;
    padding-top: 3rem;
}
#div-welcome-titles h1, h2 {
    color: rgb(197, 197, 197);
    padding: 2rem 1rem 1rem 2rem;
}
#div-welcome-titles h1:hover, h2:hover{
    color: white;
}
#div-welcome-titles h3, h4, h5 {
    color: rgb(174, 206, 255);
    padding: 0.5rem;
}
#div-welcome-titles h3:hover, h4:hover, h5:hover {
    color: rgb(238, 245, 255);
}
.div-text {
    margin-left: 6rem;
    background-color: rgba(0,0,0,0.2);
}
.div-text *{
    width: 75%;
}

#div-main-menu {
    margin: 0 3rem 0 3rem;
    padding: 0 2rem 0 2rem;
    width: 60%;
    background: linear-gradient(90deg, rgba(0,0,0,0), rgba(0, 0, 0, 0.1), rgba(0,0,0,0));
}

.div-main-menu-item p {
    margin: 1rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.div-main-menu-item p {
    font-size: 125%;
    font-weight: 600;
    color: rgb(85, 90, 184);
    cursor: pointer;
}
.div-main-menu-item:hover {
    background: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0));
}
.div-main-menu-item:hover p {
    color: white;
}
.div-main-menu-item:hover > .hidden{
    opacity: 1;
    transition: opacity 0.2s;
}